
<mat-card class="example-card">
  <form  (ngSubmit)="onSubmit()">
    <mat-card-header>
      <div mat-card-avatar *ngIf = "categoryImage"> 
         <img [src] = "categoryImage"> 
      </div>
       <mat-card-title [(ngModel)] = "Category">
        <select matcategoryControl required>
          <option value="" selected>{{category}}</option>
          <option *ngFor="let car of categories" [value]="car.value">
            {{car.cat}}
          </option>
          <!-- <option value="sport">{{category}}</option>
          <option value="sport">Sport</option>
          <option value="tech">Tech</option>
          <option value="politics">Politics</option> -->
        </select> 
      
      </mat-card-title>
      <!-- <mat-form-field>
        <select matNativeControl [(ngModel)]="{{category}}" name="car">
          <option value="" selected></option>
          <option *ngFor="let car of categories" [value]="car.value">
            {{car.cat}}
          </option>
        </select>
      </mat-form-field> --> 
      <!-- <mat-form-field> 
        <select matcategoryControl >
        
          <option value="sport">Sport</option>
          <option value="tech">Tech</option>
          <option value="politics">Politics</option>
        </select> 
 </mat-form-field>   -->
      <mat-card-subtitle>classification result</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content [(ngModel)] = "title">
      <p>
        {{classifyService.doc}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/saveclassify"  routerLinkActive="active">Save</button>
    </mat-card-actions>
  </form>
  </mat-card>
  <mat-card>
        
    